config/factories.yml
data/fixtures/condiments.yml
data/fixtures/edits.yml
data/fixtures/users.yml
data/fixtures/powers.yml
data/fixtures/votes.yml
data/sql/schema.sql
data/official
data/itgedits.db
dbreload.sh
.DS_Store
cache/*
log/*
*~
