@import "_form.css";

@media screen
{
  fieldset
  {
    width: 60em;
  }
  section > p:nth-child(odd)
  {
	font-family: "DejaVu Sans Mono", "Courier New", Courier, monospace;
  }
  #validate_edits
  {
	  max-width: 34em;
  }
  /* Note to self: this seems backwards. Test in other browsers. */
  #edit
  {
	float: left;
	width: 35em;
  }
  ul.error_list > li
  {
	padding-left: 1em;
	font-family: "DejaVu Sans Mono", "Courier New", Courier, monospace;
  }
}
