@import "main.css";

@media screen
{
	nav
	{
		position: fixed;
		width: 20em;
		background-color: #9999ff;
		top: 3.6em;
	}
	nav ul
	{
		float: left;
		width: 18em;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	nav ul li
	{
		float: left;
		width: 9em;
		margin: 0;
		padding: 0;
	}
	article
	{
		margin-left: 22em;
		min-height: 40em;
		padding-bottom: 0;
		min-height: 50em;
	}	
	article > svg
	{
		margin: 2em auto;
		background-color: white;
		min-height: 448px;
		position: absolute;
	}
	#svgMeas line
	{
		fill: black;
		stroke: black;
		stroke-width: 0.5;
	}
	#svgMeas line:nth-of-type(1)
	{
		stroke-width: 1;
	}
	#svgMeas rect:nth-of-type(odd)
	{
		fill: white;
	}
	#svgMeas rect:nth-of-type(2)
	{
		fill: #dcdcdc;
	}
	#svgMeas rect:nth-of-type(4)
	{
		fill: #bebebe;
	}
	#svgMeas text
	{
		fill: black;
		font-size: 1em;
	}
	text.stop, text.bpm
	{
		font-size: 0.8em;
	}
	
	#shadow
	{
		fill: aqua;
		opacity: 0.5;
	}
	
	#svgNote > svg
	{
		  fill-opacity:1;
		  stroke:black;
		  stroke-width:0.1;
		  stroke-opacity:1;
	}
}
