@import "main.css";

@media screen
{
	nav
	{
		position: fixed;
		width: 20em;
		background-color: #9999ff;
	}
	nav ul
	{
		float: left;
		width: 18em;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	nav ul li
	{
		float: left;
		width: 9em;
		margin: 0;
		padding: 0;
	}
	article
	{
		margin-left: 22em;
		min-height: 40em;
		padding-bottom: 0;
	}
	
	article > svg
	{
		margin: 2em auto;
		background-color: white;
		min-width: 224px;
		max-width: 384px;
		min-height: 448px;
	}
}
