@import "main.css";

@media screen
{
    fieldset
    {
        width: 30em;
    }
    
    legend
    {
        display: inline-block;
        margin-left: 10px;
        margin-top: 2px;
    }
    
    dl
    {
        font-family: "DejaVu Sans Mono", "Courier New", Courier, monospace;
    }
    dt
    {
        padding-left: 1em;
        width: 8em;
        float: left;
        line-height: 1.3em;
    }
    dt:after
    {
        content: ":";
    }
    dd
    {
        padding-left: 8em;
        line-height: 1.3em;
    }
}

